@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
    line-height: 0;
    color: #000;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック体', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    -webkit-text-size-adjust: 100%;
}

body a {
    text-decoration: none;
}

/*----------ヘッダー----------*/
header {
    background-color: #fffc19;
    line-height: 1.6;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header_group {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 100px;
}

@media screen and (max-width: 559px) {

    /* 559px以下に適用されるCSS（スマホ用） */
    .header_group {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        height: 60px;
    }
}

/*ロゴ*/
.header_group img {
    padding: 5px;
    width: 300px;
    height: auto;
}

@media screen and (max-width: 559px) {

    /* 559px以下に適用されるCSS（スマホ用） */
    /*ロゴ*/
    .header_group img {
        padding-right: .5em;
        width: 25%;
        height: auto;
    }
}

/*メニュー*/
.global_menu {
    display: flex;
    justify-content: space-between;
}

.global_menu ul {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 20px 0;
}

.global_menu li {
    padding: .5em .8em;
}

.global_menu a {
    color: #000;
    font-size: 1em;
    font-weight: 600;
}

/*申込みボタン*/
.contact_btn a {
    color: #fff;
    background-color: #0dabff;
    padding: .5em 2em;
    font-size: 1em;
    display: block;
    letter-spacing: .1em;
    line-height: 30px;
    margin: 15px 0;
    font-weight: 500;
}

.contact_btn a:hover {
    color: #fff;
    background: #0995df;
}

.pc_none {
    display: none;
}

/*ハンバーガーメニュー*/
input {
    display: none;
}

@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */

    .tab_menu {
        display: flex;
        justify-content: space-between;
    }

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    a,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: inherit;
    }

    /*menuコンテンツ*/
    .fullscreenmenu .global_menu {
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
        opacity: 0;
        background-image: linear-gradient(0deg, rgba(255, 252, 25, 0.24833683473389356) 0%, rgba(255, 252, 25, 1) 35%);
        ;
    }

    .fullscreenmenu .global_menu ul {
        position: absolute;
        top: 170px;
        left: 50%;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        transition: all .3s ease-in-out;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .fullscreenmenu .global_menu ul li {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    .fullscreenmenu .global_menu ul li a {
        font-size: 2em;
        display: block;
        padding: 5px 0;
        transition: all .2s ease-in-out;
        text-align: center;
        text-decoration: none;
        color: #000;
        text-shadow: 1px 1px 2px #fff;
    }

    .mobile_none {
        display: none;
    }

    .pc_none {
        display: block;
    }

    .contact_btn a {
        color: #fff;
        background-color: #0dabff;
        padding: .5em 2em;
        font-size: 1em;
        display: block;
        margin-right: 40px;
        letter-spacing: .1em;
    }

    .fullscreenmenu .global_menu ul li a:hover {
        color: #fff;
    }

    /*クリックしたらメニューが開閉の動作*/
    .fullscreenmenu #toggle:checked ~ .global_menu {
        visibility: visible;
        opacity: 1;
    }

    .fullscreenmenu #toggle:checked ~ .global_menu ul {
        top: 70px;
    }

    .fullscreenmenu #toggle:checked ~ .global_menu ul li {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    .fullscreenmenu #toggle:checked ~ .global_menu ul li:nth-child(1) {
        transition: all .3s cubic-bezier(.6, 0, .8, 1.5) .1s;
    }

    .fullscreenmenu #toggle:checked ~ .global_menu ul li:nth-child(2) {
        transition: all .3s cubic-bezier(.6, 0, .8, 1.5) .2s;
    }

    .fullscreenmenu #toggle:checked ~ .global_menu ul li:nth-child(3) {
        transition: all .3s cubic-bezier(.6, 0, .8, 1.5) .3s;
    }

    .fullscreenmenu #toggle:checked ~ .global_menu ul li:nth-child(4) {
        transition: all .3s cubic-bezier(.6, 0, .8, 1.5) .4s;
    }

    .fullscreenmenu #toggle:checked + label.hamburger .bar {
        background-color: #000;
    }

    .fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(2) {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    .fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }

    .fullscreenmenu #toggle:checked + label.hamburger .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    /*ハンバーガー*/
    .fullscreenmenu .hamburger {
        position: fixed;
        z-index: 10;
        top: 30px;
        right: 20px;
        display: block;
        cursor: pointer;
    }

    .fullscreenmenu .hamburger .bar {
        width: 30px;
        height: 2px;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
        background-color: #000;
    }

    .fullscreenmenu .hamburger .bar:nth-child(2) {
        width: 20px;
    }
}

@media screen and (max-width: 559px) {

    /* 559px以下に適用されるCSS（スマホ用） */
    .fullscreenmenu .global_menu ul li a {
        font-size: 1.5em;
        display: block;
        padding: 5px 0;
        transition: all .2s ease-in-out;
        text-align: center;
        text-decoration: none;
        color: #000;
        text-shadow: 1px 1px 2px #fff;
    }

    /*ハンバーガー*/
    .fullscreenmenu .hamburger {
        top: 12px;
        right: 10px;
    }
}

@media screen and (max-width: 559px) {

    /* 559px以下に適用されるCSS（スマホ用） */
    /*申込みボタン*/
    .contact_btn a {
        line-height: 2em;
        margin: .6em 2.5em;
        padding: .5em;
    }
}

/*メイン*/
/*---------TOP----------*/
main {
    line-height: 1.6;
    max-width: 1600px;
    margin: 0 auto;
}

.top_content {
    background-color: #fffc19;
    height: 580px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 100px 0;
    top: 0;
    right: 0;
    z-index: 1;
}

/*背景 円*/
.circle_1 {
    position: absolute;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background: #f3f3f3;
    top: 90px;
    right: 140px;
    z-index: 2;
}

.top_txt {
    z-index: 5;
    width: 100%;
    position: relative;
}

#top_message {
    font-size: 3em;
    font-weight: 100;
    padding: 50px 0 50px 140px;
    line-height: 2;
    letter-spacing: .1em;
    z-index: 5;
}

#top_ttl {
    font-size: 1em;
    font-weight: 550;
    width: 300px;
    text-align: right;
    letter-spacing: .2em;
}

#top_sub {
    font-size: .8em;
    text-align: right;
    width: 315px;
    padding-top: 2px;
    letter-spacing: .2em;
}

.under_line {
    border-bottom: 1px solid #000;
    display: inline-block;
    width: 335px;
    padding-bottom: 2px;
}

.under_line::after {
    display: inline-block;
    content: " ";
    width: 10px;
}

.img_outer {
    z-index: 3;
    width: 35%;
    position: absolute;
    top: 160px;
    right: 170px;
}

#top_img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */

    .top_content {
        height: 400px;
        padding: 90px 0 0;
    }

    /*背景 円*/
    .circle_1 {
        width: 400px;
        height: 400px;
        top: 60px;
        right: 30px;
    }

    #top_message {
        font-size: 2em;
        padding: 0 0 40px 60px;
        line-height: 2;
    }

    #top_ttl {
        width: 30px;
    }

    #top_sub {
        width: 235px;
    }

    .under_line {
        width: 255px;
    }

    .img_outer {
        width: 40%;
        top: 120px;
        right: 70px;
    }
}

@media screen and (max-width: 559px) {
    /* 559px以下に適用されるCSS（スマホ用） */

    .top_content {
        height: 460px;
        padding: 30px 0;
        bottom: 0;
    }

    /*背景 円*/
    .circle_1 {
        width: 250px;
        height: 250px;
        top: 220px;
        right: 20px;
    }

    #top_message {
        font-size: 1.7em;
        padding: 0 0 20px 20px;
    }

    #top_ttl {
        width: 30px;
    }

    #top_sub {
        width: 195px;
    }

    .under_line {
        width: 215px;
    }

    .img_outer {
        width: 60%;
        top: 260px;
        right: 40px;
    }
}

/*----------スットンとは---------*/
.about {
    background-color: #f3f3f3;
    padding: 80px 0 50px;
    overflow: hidden;
}

.content_ttl {
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    text-align: center;
    position: relative;
    z-index: 5;
}

.under_bold {
    border-bottom: 8px solid #000;
    width: 8em;
    display: inline-block;
    text-align: center;
}

.about_group {
    margin: 120px 0;
}

/*スットン01~04*/
.about_item {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 200px;
}

/*背景 数字*/
.numbers {
    position: absolute;
    font-size: 15em;
    color: #fff;
    top: -140px;
    left: 50px;
    font-family: 'Barlow Condensed', 'DIN Condensed', 'Tahoma';
    z-index: 1;
}

.about_box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 5;
}

.about_catch {
    font-size: 2em;
    color: #000;
    letter-spacing: .1em;
}

.about_txt {
    width: 700px;
    font-size: 1em;
    letter-spacing: .1em;
    line-height: 2em;
    padding-top: 30px;
}

.about_img {
    width: 400px;
    height: auto;
    margin-right: 50px;
}

#about_img {
    width: 300px;
    height: auto;
    margin: 0 50px;
}

/*詳細ボタン*/
.about_btn {
    font-size: 1em;
    background-color: #fffc19;
    color: #000;
    display: block;
    width: 12em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */

    .about {
        padding: 80px 0 0;
    }

    /*スットン01~04*/
    .about_item {
        margin-bottom: 120px;
    }

    /*背景 数字*/
    .numbers {
        top: -120px;
        left: 50px;
    }

    .about_box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .about_inner {
        margin: 0 auto;
    }

    .about_catch {
        text-align: center;
    }

    .about_txt {
        padding-top: 10px;
    }

    .about_img {
        width: 600px;
        padding: 0 15%;
        margin-right: 0;
        margin: 0 auto;
    }

    #about_img {
        width: 300px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 559px) {
    /* 559px以下に適用されるCSS（スマホ用） */

    .about {
        padding-top: 50px;
    }

    .about_group {
        margin: 120px 0 50px;
    }

    /*スットン01~04*/
    .about_item:last-child {
        margin-bottom: 0;
    }

    /*背景 数字*/
    .numbers {
        font-size: 10em;
        top: -130px;
        left: 30px;
    }

    .about_catch {
        font-size: 1.5em;
        font-weight: 600;
        text-align: left;
        padding: 0 10px;
    }

    .about_txt {
        width: 95%;
        padding-top: 0;
        margin: 0 auto;
    }

    .about_img {
        width: 300px;
    }

    #about_img {
        width: 200px;
    }

    /*詳細ボタン*/
    .about_btn {
        margin: 0 auto;
    }

    /* 改行クリア*/
    .br_none {
        display: none;
    }
}

/*----------お客さまの声----------*/
.review {
    background-color: #fffc19;
    overflow: hidden;
    padding-top: 80px;
}

#review_note {
    text-align: center;
    display: block;
    color: #000;
    font-size: .8em;
    padding: 30px 0;
    z-index: 5;
    position: relative;
}

/*お客さまの声 メイン*/
.review_large {
    display: flex;
    justify-content: space-between;
    margin: 30px 80px 100px;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

/*背景 円*/
.circle_2 {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #fff;
    top: -60px;
    left: 160px;
    z-index: 2;
}

#large_img {
    z-index: 3;
    width: 500px;
    padding-left: 50px;
}

.large_inner {
    z-index: 3;
    width: 500px;
    padding: 50px 50px 0 0;
}

#large_ttl {
    font-size: 2em;
    color: #000;
    letter-spacing: .1em;
    padding-bottom: 40px;
}

#large_personal {
    font-size: 1.5em;
    color: #000;
    padding-bottom: 40px;
}

#large_txt {
    font-size: 1em;
    color: #000;
    letter-spacing: .1em;
    line-height: 2.5em;
}

/*お客さまの声 その他1~3*/
.review_more {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 50px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.review_small {
    background-color: #fff;
    padding: 40px 30px 20px;
    margin: 0 10px;
    width: 400px;
    height: auto;
}

#small_ttl {
    font-size: 1.5em;
    color: #000;
}

.small_inner {
    display: flex;
    justify-content: flex-start;
    height: 8em;
    padding: 10px;
    margin: 0 auto;
}

.small_img {
    width: 130px;
    height: auto;
}

.small_personal {
    font-size: 1em;
    color: #000;
    line-height: 8em;
}

.small_txt {
    font-size: .8em;
    color: #000;
    letter-spacing: .1em;
    line-height: 2em;
}

.review_btn {
    display: block;
    text-align: right;
    color: #000;
    font-size: .8em;
}

/*スライダー*/
.prev,
.next {
    margin: auto 0
}

@media screen and (max-width: 959px) {

    /* 959px以下に適用されるCSS（タブレット用） */
    /*お客さまの声 メイン*/
    .review_large {
        display: flex;
        margin: 0;
    }

    /*背景 円*/
    .circle_2 {
        width: 400px;
        height: 400px;
        top: 130px;
        left: 20px;
    }

    #large_img {
        width: 300px;
        padding-left: 20px;
    }

    .large_inner {
        width: 450px;
        padding: 20px 20px 50px 20px;
    }

    /*お客さまの声 その他1~3*/
    .review_small {
        padding: 30px 10px 10px;
        margin: 0 10px;
        width: 25%;
        height: auto;
    }

    .small_inner {
        display: flex;
        flex-direction: column-reverse;
        margin: 100px 0 0;
    }

    .small_img {
        margin: 0 auto;
    }

    .small_personal {
        line-height: 20px;
    }
}

@media screen and (max-width: 559px) {
    /* 559px以下に適用されるCSS（スマホ用） */

    .review {
        padding-top: 50px;
    }

    /*お客さまの声 メイン*/
    .review_large {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    /*背景 円*/
    .circle_2 {
        width: 250px;
        height: 250px;
        top: -10px;
        left: 110px;
    }

    #large_ttl {
        font-size: 1.5em;
        padding-bottom: 20px;
        font-weight: 600;
    }

    #large_personal {
        font-size: 1.5em;
        padding-bottom: 20px;
    }

    #large_img {
        width: 200px;
        padding-left: 0;
        margin: 0 auto;
    }

    .large_inner {
        width: 95%;
        padding: 30px 0;
        margin: 0 auto;
    }

    /*お客さまの声 その他1~3*/
    .review_more {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .review_small {
        padding: 20px 8px 10px;
        margin: 0 30px 20px;
    }

    /*スライダー*/
    .prev {
        position: absolute;
        top: 200px;
        left: 5px;
    }

    .next {
        position: absolute;
        top: 200px;
        right: 5px;
    }
}

/*----------ニュース---------*/
.news {
    background-color: #f3f3f3;
    padding-top: 80px;
    overflow: hidden;
}

.news_box {
    background: #fff;
    margin: 50px 150px;
}

.news_inner {
    padding: 60px 50px 0;
}

.news_item {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.news_item dt {
    padding: 0 50px;
}

.news_btn {
    display: block;
    text-align: right;
    color: #000;
    padding: 0 50px 30px;
}


@media screen and (max-width: 559px) {
    /* 559px以下に適用されるCSS（スマホ用） */

    .news {
        padding-top: 50px;
    }

    .news_box {
        margin: 30px 10px;
    }

    .news_inner {
        padding: 40px 20px 0;
    }

    .news_item {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .news_item dt {
        padding: 0 0 5px;
    }
}

/*----------アクセス----------*/
.access {
    background-color: #f3f3f3;
    padding-top: 80px;
}

#access_txt {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 400px;
}

#map {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 559px) {
    /* 559px以下に適用されるCSS（スマホ用） */

    .access {
        background-color: #f3f3f3;
        padding-top: 50px;
    }

    #access_txt {
        text-align: center;
        padding: 30px 0;
        margin-bottom: 400px;
    }
}

/*----------not yet open----------*/
.not_yet {
    background-color: #f3f3f3;
    padding: 300px 0;
}

.not_yet p {
    text-align: center;
}

/*----------フッター----------*/
footer {
    background-color: #fffc19;
    line-height: 1.6;
    padding-top: 30px;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
}

.footer_wrap a {
    color: #000;
    font-size: .8em;
}

.footer_wrap::before {
    content: '';
    display: block;
    height: .8em;
    width: 19.2em;
}

.footer_wrap img {
    width: 100px;
    height: auto;
}

/*お問い合わせなど*/
.footer_right {
    display: flex;
    justify-content: space-between;
    margin: 50px 2em 50px 0;
}

.footer_right li {
    padding: 0 1.5em;
}

#line {
    border-right: 1px solid #000;
}

@media screen and (max-width: 559px) {
    /* 559px以下に適用されるCSS（スマホ用） */

    .footer_wrap {
        display: flex;
        flex-direction: column;
    }

    .footer_wrap::before {
        display: none:
    }

    .footer_wrap img {
        width: 100px;
        height: auto;
    }

    .footer_logo {
        margin: 0 auto;
    }

    /*お問い合わせなど*/
    .footer_right {
        margin: 30px auto;
    }

    .footer_right li {
        padding: 0 1em;
    }

    #adjust {
        padding-right: 1.6em;
    }
}

/*コピー*/
small p {
    text-align: center;
    font-size: .3em;
    padding: 0 0 2em;
}
