@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    font-size: 14px;
    line-height: 0;
    color: #012e4e;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック体', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    -webkit-text-size-adjust: 100%;
}

body a {
    color: #012e4e;
    text-decoration: none;
}

body img {
    width: 100%;
    height: auto;
}

/*----------ヘッダー----------*/
header {
    background-color: #fff;
    line-height: 1.6;
    /*    position: sticky;*/
    top: 0;
    z-index: 10;
    border-bottom: solid 3px #012e4e;
}

_:lang(x) + _:-webkit-full-screen-document,
header {
    background-color: #fff;
    line-height: 1.6;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header_top {
    display: flex;
    justify-content: space-between;
}

/*ロゴ*/
.logo_top {
    padding: 5px 10px;
    width: 150px;
    height: auto;
}

.header_ttl {
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
}

.header_ttl h1 {
    text-align: left;
    margin-top: 1em;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: .1em;
}

.header_info p {
    text-align: right;
    margin-right: 15px;
    letter-spacing: .1em;
}

.bold_013 {
    font-size: 1.3em;
    font-weight: bold;
}

@media screen and (max-width: 560px) {

    .logo_top {
        width: 100px;
        padding: 0;
        margin: auto 0;
    }

    .header_ttl {
        width: 100%;
        margin: auto;
    }

    .header_ttl h1 {
        min-width: 215px;
        margin: auto;
        font-size: 1em;
    }
}

/*お問合わせボタン*/
.top_btn {
    display: flex;
    justify-content: space-between;
}

.btn_trial {
    width: 120px;
    height: 120px;
    display: table;
    background-color: #fc546a;
}

.btn_trial:hover {
    background-color: #e68793;
}

.btn_doq {
    width: 120px;
    height: 120px;
    display: table;
    background-color: #012e4e;
}

.btn_doq:hover {
    background-color: #6b9ec3;
}

.btn_inner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.btn_inner a {
    line-height: 20px;
    letter-spacing: .1em;
    color: #fff;
    font-size: 1em;
}

@media screen and (max-width: 990px) {

    .btn_trial:hover {
        background-color: #fc546a;
    }

    .btn_doq:hover {
        background-color: #012e4e;
    }
}

@media screen and (max-width: 560px) {

    .btn_doq {
        width: 70px;
        height: 70px;
    }

    .btn_inner a {
        display: inline-block;
        line-height: 0;
    }
}

/*メニュー*/
.global_menu ul {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px 0;
}

.global_menu li {
    padding: .5em .8em;
}

.global_menu a {
    font-size: 1.5rem;
    font-weight: bold;
}

.global_menu a:hover {
    color: #6b9ec3;
}

@media screen and (max-width: 990px) {

    .global_menu ul {
        margin: 10px 5px 0;
    }

    .global_menu li {
        padding: .5em .5em;
    }

    .global_menu a {
        font-size: 1.3rem;
    }

    .global_menu a:hover {
        color: #012e4e;
    }
}

@media screen and (max-width: 560px) {

    .global_menu ul {
        display: flex;
        flex-wrap: wrap;
    }

    .global_menu li {
        padding: 0 .5em .5em;
    }
}

/*メイン*/
main {
    position: relative;
    line-height: 1.5;
    margin: 0 auto;
}

/*---------TOP----------*/
.top_box {
    max-width: 1900px;
    margin: 0 auto;
    text-align: center;
}

.top_ttl {
    display: inline-block;
    margin: 40px 0 20px;
}

.pink_5 {
    color: #fc546a;
    font-size: 7rem;
    text-align: center;
    line-height: 1.5em;
}

#num_font {
    font-size: 2em;
    font-family: 'HoeflerText-Black', 'Sitka Small';
}

.top_list {
    text-align: center;
}

.top_list ul {
    display: inline-block;
}

.top_list li {
    padding: 5px 0 0 3px;
}

.list_txt {
    font-size: 2.5rem;
}

.top_txt {
    display: inline-block;
    margin: 20px 0 40px;
}

.normal_txt {
    font-size: .5em;
    color: #012e4e;
}

.lank_box {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.lank_left {
    width: 180px;
    height: auto;
    margin: 5px 10px 0;
}

.lank_left p {
    text-align: center;
    font-weight: bold;
}

.lank_center {
    margin: auto 5px;
}

.lank_center p {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 1.8em;
}

.lank_right {
    width: 180px;
    height: auto;
    margin: auto 0;
}

.top_img {
    position: relative;
    top: 0;
    left: 0;
}

#top_back {
    position: relative;
    vertical-align: bottom;
}

#top_logo {
    width: 10%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

#top_cap1 {
    position: absolute;
    text-align: center;
    text-decoration: underline;
    letter-spacing: .1em;
    font-size: 5vw;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    text-shadow: #b19d83 1px 1px 0px, #b19d83 -1px 1px 0px,
        #b19d83 1px -1px 0px, #b19d83 -1px -1px 0px;
}

#top_cap2 {
    position: absolute;
    text-align: center;
    letter-spacing: .1em;
    font-size: 4vw;
    color: #353c34;
    font-family: 'Times New Roman';
    width: 100%;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    text-shadow: #b19d83 1px 1px 0px, #b19d83 -1px 1px 0px,
        #b19d83 1px -1px 0px, #b19d83 -1px -1px 0px;
}

@media screen and (max-width: 990px) {

    .pink_5 {
        font-size: 5rem;
    }

    .normal_txt {
        font-size: 2.5rem;
    }

    .lank_left {
        width: 140px;
    }

    .lank_center p {
        font-size: 1.5em;
    }

    .lank_right {
        width: 140px;
    }
}

@media screen and (max-width: 560px) {

    .pink_5 {
        font-size: 2rem;
    }

    #num_font {
        font-size: 3.2em;
    }

    .mo_font1 {
        font-size: 1.5em;
    }

    .list_txt {
        font-size: 1.5rem;
    }

    .normal_txt {
        font-size: 1.3rem;
    }

    .mo_font2 {
        font-size: 1.3em;
    }

    .lank_box {
        justify-content: center;
        margin: auto;
    }

    .lank_left {
        width: 90px;
        margin: 5px 2px 0;
    }

    .lank_left p {
        font-weight: normal;
        font-size: .8em;
    }

    .lank_center p {
        font-size: 1em;
        letter-spacing: 0;
    }

    .lank_right {
        width: 75px;
    }

    #top_logo {
        width: 15%;
        top: 5%;
    }

    #top_cap1 {
        font-size: 7vw;
        top: 35%;
        text-shadow: #fff 1px 1px 0px, #fff -1px 1px 0px,
            #fff 1px -1px 0px, #fff -1px -1px 0px;
    }

    #top_cap2 {
        font-size: 5vw;
    }
}

/*----------パーソナルスタディが選ばれる理由----------*/
.reason_content {
    background-color: #012e4e;
}

.content_ttl {
    color: #fff;
    font-size: 3em;
    letter-spacing: .1em;
    text-align: center;
    padding: 30px 0;
}

.reason_group {
    max-width: 1200px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.reason_box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}

.reason_img {
    width: 25%;
    height: auto;
    margin: 0 10px;
}

.radius_img {
    object-fit: cover;
    border-radius: 50%;
}

.reason_inner {
    width: 70%;
    margin: auto;
}

.reason_ttl {
    color: #fff;
    font-size: 2.5em;
    letter-spacing: .1em;
    text-decoration: underline;
}

.reason_txt {
    color: #fff;
    width: 100%;
    font-size: 1.5em;
    letter-spacing: .1em;
    line-height: 1.8em;
}

@media screen and (max-width: 990px) {

    .content_ttl {
        font-size: 2.5em;
    }

    .reason_ttl {
        font-size: 1.5em;
    }

    .reason_txt {
        font-size: 1.5em;
        padding-right: 20px;
    }
}

@media screen and (max-width: 560px) {

    .content_ttl {
        font-size: 1.3em;
    }

    .reason_ttl {
        font-size: 1.3em;
    }

    .reason_box {
        flex-direction: column;
    }

    .reason_img {
        width: 60%;
        margin: 0 auto;
    }

    .reason_inner {
        width: 90%;
    }

    .reason_txt {
        font-size: 1em;
        padding: 0;
    }
}

/*HPへのボタン*/
.btn_box {
    text-align: center;
    margin-top: 30px;
}

.btn_hp {
    display: inline-block;
}

.btn_link {
    font-size: 1.3em;
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
}

.btn_flat {
    overflow: hidden;
    padding: 15px 20px;
    color: #353c34;
    background-color: #fff;
}

#btn_txt {
    position: relative;
}

.btn_flat::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 500%;
    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    background-color: #c4c4c4;
}

.btn_flat:hover::before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.eng_txt {
    font-size: 2em;
    font-family: 'Times New Roman';
}

@media screen and (max-width: 990px) {

    .btn_flat::before {
        display: none;
    }
}

@media screen and (max-width: 560px) {

    .btn_link {
        font-size: 1em;
        padding: 10px 20px;
        line-height: 1.5em;
    }
}

/*電話の案内*/
aside {
    padding: 30px;
    text-align: center;
}

.tel_box {
    display: inline-block;
}

.tel_inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 600px;
}

.tel_inner p {
    font-size: 1.2em;
}

.tel_ve {
    display: flex;
}

#tel_txt {
    display: inline-block;
    margin: auto 15px 0 0;
    padding-bottom: 5px;
}

#tel_num {
    font-size: 2em;
    font-weight: bold;
}

#tel_sc {
    padding-bottom: 5px;
}

@media screen and (max-width: 560px) {

    aside {
        padding: 30px 5px;
    }

    .tel_inner {
        width: 100%;
    }

    .tel_ve {
        flex-direction: column;
    }

    #tel_txt {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .tel_inner p {
        font-size: 1em;
    }

    #tel_num {
        font-size: 1.5em;
        margin: 0 auto;
    }

    #tel_sc {
        padding-bottom: 3px;
    }
}

/*----------オンラインを最大限に活かした当塾の強み----------*/
.feature_content {
    background-color: #012e4e;
}

.feature_group {
    max-width: 1250px;
    padding: 20px 0;
    margin: 0 auto;
}

.feature_box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
}

.feature_img {
    width: 30%;
    height: auto;
    margin: auto 10px;
}

.feature_inner {
    width: 70%;
    margin: auto;
}

.feature_ttl {
    color: #fff;
    font-size: 2.5em;
    letter-spacing: .1em;
    text-decoration: underline;
}

.feature_txt {
    color: #fff;
    width: 100%;
    font-size: 1.5em;
    letter-spacing: .1em;
    line-height: 1.8em;
}

@media screen and (max-width: 990px) {

    .feature_img {
        width: 40%;
    }

    .feature_inner {
        width: 60%;
    }

    .feature_ttl {
        font-size: 1.5em;
    }

    .feature_txt {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 560px) {

    .feature_group {
        padding: 0;
    }

    .feature_box {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }

    .feature_box:last-child {
        margin-bottom: 0;
    }

    #feature_box {
        display: flex;
        flex-direction: column;
    }

    .feature_img {
        width: 80%;
        display: inline-block;
        margin: 0 auto;
    }

    .feature_inner {
        width: 90%;
    }

    .feature_ttl {
        font-size: 1.3em;
    }

    .feature_txt {
        font-size: 1em;
    }
}

/*----------他の塾のオンライン指導と何が違うのでしょうか----------*/
.difference_content {
    background-color: #f6f6f6;
}

.difference_ttl {
    color: #000;
    font-size: 3em;
    letter-spacing: .1em;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1250px;
}

@media screen and (max-width: 990px) {

    .difference_ttl {
        font-size: 2em;
    }
}

@media screen and (max-width: 560px) {

    .difference_ttl {
        font-size: 1.5em;
        padding: 30px 0;
    }
}

/*比較表*/
.difference_box {
    position: relative;
    z-index: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    max-width: 1250px;
}

.difference_table {
    display: inline-block;
    padding-right: 10%;
    table-layout: fixed;
}

.difference_table th {
    font-size: 1em;
    letter-spacing: .1em;
    line-height: 1.2em;
}

.tag_none {
    display: inline-block;
    width: 135px;
    margin: 5px;
}

.tag_orange {
    position: relative;
    padding: 15px 10px 15px;
    width: 160px;
    display: inline-block;
    z-index: 1;
    text-align: center;
    vertical-align: bottom;
    margin: 5px;
}

.tag_orange::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #f29b87;
    transform: skewY(-3deg);
    border-radius: 5px;
}

.tag_yellow {
    position: relative;
    display: inline-block;
    margin: 5px 5px 17px 10px;
    padding: 12px 50px;
    width: 160px;
    background-color: #dee77c;
    box-sizing: border-box;
    text-align: center;
}

.tag_yellow::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #dee77c;
    z-index: 2;
}

.tag_green {
    position: relative;
    display: inline-block;
    margin: 5px 5px 17px 0;
    padding: 12px 10px;
    width: 160px;
    background-color: #95d3d7;
    box-sizing: border-box;
    text-align: center;
}

.tag_green::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #95d3d7;
    z-index: 2;
}

.label_blue {
    background-color: #99b4df;
    width: 140px;
    height: 38px;
    line-height: 38px;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 6px auto;
    font-size: 1em;
    letter-spacing: .1em;
}

.label_blue::before {
    width: calc(100% - 0px);
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    border-bottom: solid 5px #99b4df;
    border-right: solid 5px transparent;
    bottom: 100%;
}

.label_blue::after {
    width: calc(100% - 0px);
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    border-top: solid 5px #99b4df;
    border-right: solid 5px transparent;
    top: 100%;
}

.label_2lines {
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.check_orange {
    background-color: #f29b87;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 55px;
    line-height: 50px;
    border-top: solid 1px #f1ae9e;
    vertical-align: bottom;
    margin-right: 3px;
    position: relative;
    z-index: 3;
    font-size: 26px;
}

.check_white {
    background-color: #f6f6f6;
    color: #000;
    display: inline-block;
    text-align: center;
    width: 164px;
    height: 55px;
    line-height: 50px;
    border-left: solid 2px #e1dfde;
    vertical-align: bottom;
    font-size: 24px;
}

.check_beige {
    background-color: #f2f0ee;
    color: #000;
    display: inline-block;
    text-align: center;
    width: 164px;
    height: 55px;
    line-height: 50px;
    border-left: solid 2px #e1dfde;
    vertical-align: bottom;
    font-size: 24px;
}

.check_red {
    color: #f00;
}

.check_ora {
    color: #ed7d31;
}

@media screen and (max-width: 990px) {

    .difference_table {
        padding-right: 20%;
    }

    .tag_none {
        width: 110px;
    }

    .tag_orange {
        padding: 15px 5px 15px;
        width: 150px;
    }

    .tag_yellow {
        margin: 5px 5px 17px 5px;
        padding: 12px 30px;
        width: 140px;
    }

    .tag_green {
        margin: 5px 5px 17px 0;
        padding: 12px 10px;
        width: 140px;
    }

    .label_blue {
        width: 120px;
    }

    .check_orange {
        width: 160px;
    }

    .check_white {
        width: 144px;
    }

    .check_beige {
        width: 144px;
    }
}

@media screen and (max-width: 560px) {

    .difference_table {
        padding: 0 auto 0 0;
    }

    .difference_table th {
        font-size: .8em;
        letter-spacing: 0;
        line-height: 1.2em;
    }

    .tag_none {
        width: 67px;
    }

    .tag_orange {
        padding: 8px 0 8px;
        width: 56px;
    }

    .tag_yellow {
        margin: 5px 2px 17px 1px;
        padding: 4px 5px;
        width: 50px;
    }

    .tag_yellow::before {
        left: 56%;
    }

    .tag_green {
        margin: 5px 5px 17px 0;
        padding: 4px 2px;
        width: 50px;
    }

    .tag_green::before {
        left: 56%;
    }

    .label_blue {
        width: 80px;
        height: 28px;
        line-height: 28px;
        margin: 6px auto;
        font-size: .8em;
        letter-spacing: 0;
    }

    .check_orange {
        width: 60px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .check_white {
        width: 50px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    .check_beige {
        width: 50px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
}

/*人物*/
#difference_pe {
    position: absolute;
    width: 25%;
    height: auto;
    bottom: 5px;
    right: 3%;
    overflow: hidden;
}

.difference_txt {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 1250px;
}

.difference_txt h3 {
    display: inline-block;
    color: #fc546a;
    font-size: 2em;
    margin: 50px 0 30px;
    text-decoration: underline;
}

.difference_txt p {
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: .1em;
    line-height: 1.8em;
    width: 90%;
}

@media screen and (max-width: 990px) {

    #difference_pe {
        width: 30%;
        right: 0%;
    }

    .difference_txt h3 {
        font-size: 1.3em;
    }

    .difference_txt p {
        font-size: 1.5em;
        width: 98%;
    }
}

@media screen and (max-width: 560px) {

    #difference_pe {
        width: 32%;
    }

    .difference_txt p {
        font-size: 1em;
        width: 98%;
    }
}

/*----------オンライン環境がない人にも万全サポート----------*/
.content_ttl2 {
    text-align: center;
    font-size: 3em;
    letter-spacing: .1em;
    padding: 50px 0 30px;
    font-weight: bold;
}

.online_box {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 50px;
    max-width: 1250px;
}

.online_txt {
    width: 70%;
}

.online_txt h3 {
    color: #000;
    text-align: center;
    font-size: 2em;
    letter-spacing: .1em;
    text-decoration: underline;
}

.online_txt p {
    color: #000;
    width: 90%;
    margin: 30px auto 0;
    font-size: 1.5em;
    letter-spacing: .1em;
    line-height: 1.8em;
}

.online_img {
    width: 30%;
    height: auto;
    margin: auto 10px;
}

@media screen and (max-width: 990px) {

    .content_ttl2 {
        font-size: 2.5em;
    }

    .online_txt {
        width: 60%;
    }

    .online_img {
        width: 40%;
    }
}

@media screen and (max-width: 560px) {

    .content_ttl2 {
        font-size: 1.5em;
        padding: 30px 0;
    }

    .online_box {
        display: flex;
        flex-direction: column-reverse;
    }

    .online_txt {
        width: 98%;
        margin: 30px auto 0;
    }

    .online_txt h3 {
        font-size: 1.5em;
    }

    .online_txt p {
        width: 100%;
        margin: 20px 0 0;
        font-size: 1em;
    }

    .online_img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
}

/*----------ご利用の流れ----------*/
/*フローチャート*/
.flow_list {
    list-style: none;
    width: 600px;
    margin: 0 auto;
}

.flow_list li {
    background-color: #f6f6f6;
    margin-bottom: 35px;
    padding: 20px;
    height: 120px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.flow_list li::after {
    bottom: -34px;
    color: #012e4e;
    content: "▼";
    font-size: 24px !important;
    left: 48%;
    position: absolute;
}

.flow_list li.last::after {
    content: "";
}

.flow_list h3 {
    font-weight: bold;
    padding-bottom: 1.3em;
    font-size: 1.5em;
}

.flow_list p {
    padding-top: 1.3em;
    width: 70%;
    font-size: 1.3em;
}

#flow_space {
    padding-top: 2.6em;
}

@media screen and (max-width: 560px) {

    .flow_list {
        width: 300px;
    }

    .flow_list li {
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .flow_list li::after {
        left: 45%;
    }

    .flow_list h3 {
        padding-bottom: 0em;
    }

    .flow_list p {
        padding-top: 1em;
        width: 100%;
    }

    #flow_space {
        padding-top: 1em;
    }
}

/*----------メッセージ----------*/
.message_box {
    margin: 0 auto;
    max-width: 1000px;
}

.message_inner {
    display: flex;
    justify-content: space-between;
}

.message_img1 {
    width: 30%;
    height: auto;
    margin: auto 0 0;
}

.message_img2 {
    margin: auto 0 0;
    padding-bottom: 2px;
    color: #000;
}

.message_lank1 img {
    height: auto;
    width: 220px;
    display: inline-block;
}

.message_lank1 {
    text-align: center;
}

.message_lank1 p {
    text-align: center;
}

.message_lank2 {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 0 auto;
}

.message_lank2 p {
    text-align: left;
    font-size: 1em;
    letter-spacing: .1em;
    line-height: 1.8em;
}

.message_lank2 img {
    vertical-align: bottom;
    width: 60px;
    height: auto;
    margin: auto 0;
}

.message_txt {
    color: #000;
    font-size: 1.5em;
    letter-spacing: .1em;
    line-height: 1.8em;
    margin: 50px 0;
}

.border_black {
    font-weight: bold;
    text-decoration: underline;
}

.border_pink {
    color: #fc546a;
    font-weight: bold;
    text-decoration: underline;
}

.normal_pink {
    color: #fc546a;
    font-weight: bold;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    ::i-block-chrome,
    .message_lank1 {
        text-align: center;
    }

    .message_lank1 p {
        text-align: center;
    }

    .message_lank2 {
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin: 0 auto;
    }

    .message_lank2 p {
        text-align: left;
        font-size: 1em;
        letter-spacing: .1em;
        line-height: 1.8em;
    }
}

@media screen and (max-width: 990px) {

    .message_box {
        width: 95%;
    }
}

@media screen and (max-width: 560px) {

    .message_img1 {
        width: 45%;
    }

    .message_img2 {
        width: 180px;
    }

    .message_lank1 img {
        width: 150px;
    }

    .message_lank1 p {
        letter-spacing: 0;
        font-size: .8em;
        padding-bottom: 2px;
    }

    .message_lank2 {
        justify-content: none;
        letter-spacing: 0;
        width: 175px;
    }

    .message_lank2 p {
        font-size: .8em;
        line-height: 1.3em;
    }

    .message_lank2 img {
        width: 50px;
    }

    .message_txt {
        font-size: 1em;
        margin: 50px 0;
    }
}

/*追従式CTA*/
.pagetop {
    display: none;
    position: fixed;
    z-index: 9999;
    bottom: 10px;
    right: 0;
}

.floating_banner {
    display: block;
}

.floating_banner:hover {
    opacity: .8;
}

.close_box {
    width: 50px;
    height: 40px;
    line-height: 35px;
    margin: 0 0 0 auto;
    background-color: #fff;
    border-width: 5px;
    border-color: #fc546a;
    border-style: solid;
    border-bottom: none;
}

.close_btn {
    color: #fc546a;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.floating_box {
    width: 300px;
    height: 205px;
    padding-top: 20px;
    background-color: #fc546a;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.floating_copy {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.2;
}

.sp {
    padding-right: 1.5em;
}

.floating_btn {
    display: inline-block;
    text-align: center;
    width: 290px;
    height: 80px;
    line-height: 80px;
    margin-top: 10px;
    font-size: 2em;
    background-color: #fff;
    color: #fc546a;
}

@media screen and (max-width: 990px) {

    .floating_banner:hover {
        opacity: 0;
    }
}

@media screen and (max-width: 560px) {

    .pagetop {
        top: unset;
        right: 0;
        bottom: 0;
    }

    .floating_banner {
        display: inline-block;
    }

    .close_box {
        width: 28px;
        height: 23px;
        line-height: 22px;
        border-width: 3px;
    }

    .close_btn {
        font-size: 1.5em;
    }

    .floating_box {
        width: 100vw;
        height: 80px;
        padding: 5px 8px;
    }

    .none {
        display: none;
    }

    .floating_copy {
        font-size: 1.3em;
        margin: 0 auto 0;
    }

    .sp {
        padding-right: 1em;
    }

    .floating_btn {
        height: 28px;
        line-height: 28px;
        font-size: 1em;
        margin: 0 auto 0;
    }
}

/*----------フッター----------*/
footer {
    line-height: 1.5;
}

.footer_box {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 150px auto 50px;
    max-width: 1250px;
}

#frame_top {
    position: absolute;
    z-index: 1;
    transform: rotate(-.5deg);
    width: 80%;
    top: -50px;
    overflow: hidden;
}

#frame_right {
    position: absolute;
    z-index: 1;
    transform: scale(-1, -1);
    width: 25%;
    top: -44px;
    right: 0;
    overflow: hidden;
}

#frame_left {
    position: absolute;
    z-index: 1;
    width: 25%;
    left: 0;
    bottom: -40px;
    overflow: hidden;
}

#frame_bottom {
    position: absolute;
    z-index: 1;
    transform: scale(-1, 1);
    transform: rotate(-.5deg);
    width: 80%;
    right: 0;
    bottom: -47px;
    overflow: hidden;
}

.footer_contact {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.footer_txt {
    width: 60%;
    color: #000;
    text-align: left;
}

.footer_txt p {
    padding-left: 100px;
}

.black_ttl {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.black_2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.black_2s {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.black_105 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.black_space {
    padding-left: 5.3em;
}

.black_108 {
    font-size: 1.8em;
    margin-bottom: 30px;
}

.black_border {
    font-size: 1.8em;
    text-decoration: underline;
}

.black_1 {
    font-size: 1em;
    margin-bottom: 30px;
}

.footer_img {
    width: 40%;
    margin: 50px 0 30px;
    text-align: center;
}

.location_img {
    width: 70%;
    height: auto;
    display: inline-block;
}

.footer_lank {
    color: #000;
    margin: 50px auto 0;
}

.none_pc {
    display: none;
}

@media screen and (max-width: 990px) {

    .black_ttl {
        font-size: 2em;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer_txt p {
        padding-left: 50px;
    }
}

@media screen and (max-width: 560px) {
    .footer_box {
        width: 95%;
        margin: 100px auto 50px;
    }

    .footer_contact {
        display: flex;
        flex-direction: column;
    }

    #frame_top {
        top: -46px;
    }

    #frame_bottom {
        bottom: -43px;
    }

    .footer_txt {
        width: 100%;
    }

    .footer_txt p {
        width: 95%;
        margin: 0 auto;
        padding-left: 0px;
    }

    .none_pc {
        display: block;
    }

    .location_img {
        width: 80%;
        margin: 0 auto 30px;
    }

    .black_2 {
        font-size: 1.5em;
        padding-bottom: 30px;
    }

    .black_105 {
        font-size: 1em;
        padding-bottom: 30px;
    }

    .black_108 {
        font-size: 1.5em;
        padding-bottom: 15px;
    }

    .black_border {
        font-size: 1.2em;
    }

    .black_1 {
        font-size: 1em;
        padding-bottom: 10px;
    }

    .footer_img {
        width: 100%;
        margin: 0;
    }

    .none_mo {
        display: none;
    }

    .footer_lank {
        margin: 10px auto 0;
    }
}

/*HPへの案内*/
.footer_bottom {
    text-align: center;
    background-color: #f6f6f6;
    border-top: solid 3px #012e4e;
}

.footer_link {
    max-width: 1900px;
    width: 100%;
    font-size: 2em;
    padding: 30px 0;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
}

.footer_cover {
    overflow: hidden;
}

.footer_cover span {
    position: relative;
}

.footer_cover:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 2000%;
    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-120%) translateY(-25%) rotate(45deg);
    transform: translateX(-120%) translateY(-25%) rotate(45deg);
    background-color: #c4c4c4;
}

.footer_cover:hover:before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

@media screen and (max-width: 990px) {

    .footer_cover:before {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .footer_link {
        font-size: 1.5em;
    }
}
